<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAPdgrHmJy1W7I1NO4QEf0reYbaq500g0s</string>
	<key>GCM_SENDER_ID</key>
	<string>182927890578</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gyeonjutravel.project</string>
	<key>PROJECT_ID</key>
	<string>gyeonju-travel</string>
	<key>STORAGE_BUCKET</key>
	<string>gyeonju-travel.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:182927890578:ios:1b75271099a8a106a32e4b</string>
</dict>
</plist>